# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace the line below with your
# domain name.
# ---------------------------------------------------------------
# :80
aasgaards.no

# Another common task is to set up a reverse proxy:
# reverse_proxy localhost:8080
# reverse_proxy /visualizer* 192.168.1.50:16108
# 192.168.1.52:16106 192.168.1.53:16106
# reverse_proxy /owncloud* 192.168.1.50:16108

route /owncloud* {
    uri strip_prefix /owncloud
    reverse_proxy   192.168.1.50:16108
}

